<h2 class="">My food </h2>
<ul class="foods">
  <li *ngFor="let food of foods"
    [class.selected]="food === selectedFood"
    (click)="onSelect(food)">
    <span class="badge">{{food.name}}</span> {{food.name}}
    <img height="42" width="15"src={{food.image}} />
  </li>
</ul>

<div *ngIf="selectedFood">

  <h2 class="bg-warning"> Food Details: {{selectedFood.name | uppercase}} </h2>
  <!-- <div><span>id: </span>{{selectedFood.id}}</div>

  <div> -->
    <label>name:
      <input [(ngModel)]="selectedFood.name" placeholder="name"/>
    </label>
    <br>
    <label>calories:
      <input [(ngModel)]="selectedFood.calories" placeholder="calories"/>
    </label>
   <br>
   <label>quantity:
    <input [(ngModel)]="selectedFood.quantity" placeholder="quantity"/>
  </label>


  </div>

