<div class="  container">

<h2 class="">My food </h2>
<ul class="foods list-group ">
  <li class=" list-unstyled" *ngFor="let food of foods"

    [class.selected]="food === selectedFood"
    (click)="onSelect(food)">
    <img  width="150"src={{food.image}} />
    <span class="badge">{{food.name}}</span>

  </li>
</ul>


<div  *ngIf="selectedFood">

  <h2 class="bg-warning"> Food Details: {{selectedFood.name | uppercase}} </h2>
  <!-- <div><span>id: </span>{{selectedFood.id}}</div>-->
    <div>
    <label>name:
      <input [(ngModel)]="selectedFood.name" placeholder="name"/>
    </label>
    <br>
    <label>calories:
      <input [(ngModel)]="selectedFood.calories" placeholder="calories"/>
    </label>
   <br>
   <label>quantity:
    <input [(ngModel)]="selectedFood.quantity" placeholder="quantity"/>
  </label>
  </div>

</div>

